@model IEnumerable<NguyenThiTrucQuynh_buoi4.Models.Category>

@{
    ViewData["Title"] = "Danh sách danh mục";
}

<h2>Danh sách danh mục</h2>
<a asp-action="Add" class="btn btn-primary">Thêm danh mục</a>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Product</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>@category.Id</td>
                <td>@category.Name</td>
                <td>
                    <a asp-action="Display" asp-route-id="@category.Id" class="btn btn-info">Index</a>
                    <a asp-action="Update" asp-route-id="@category.Id" class="btn btn-warning">Update</a>
                    <a asp-action="Delete" asp-route-id="@category.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
